# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# VSCode
.vscode/

# Build files
dist/
build/

# Django static
backend/staticfiles/

# Node
node_modules/backend/db.sqlite3
Frontend/node_modules/
backend/db.sqlite3
